html{
	font-family: sans-serif;
}

body{
	height: 100%;
	width: 100%;
	-webkit-app-region: drag;
}

#drop{
	-webkit-app-region: drag;
	-webkit-user-select: none;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border-radius: 6px;
	border: 3px dashed #CCC;
	text-align: center;
	font-size: 18px;
	color: #CCC;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#drop.hover{
	border-color: #55c2e4;
}

.hover > img{
	content: url("../img/send_arrow_active.svg");
}

.success > img{
	content: url("../img/success.svg");
}

.error > img{
	content: url("../img/error.svg");
}

.loading > img{
	content: url("../img/loading.svg");
	-webkit-animation: spin 1s linear infinite;
}

img{
	display: block;
	margin: 0 auto;
}
